/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Bold: 700

- Line heights
Default: 1
1.2
1.5


- Letter spacing


--- 02 COLORS

- Primary:
#9ED7E6
- Tints:
#555;
#666;
#dff1f7
#CEEAF3
- Shades: 
#8DCFE2

- Accents:
- Greys


--- 05 SHADOWS


--- 06 BORDER-RADIUS


--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  position: relative;
}

/* NAVIGATION */
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #9ed7e6;

  height: 9.6rem;
  padding: 4.8rem 25.6rem;

  /* position: fixed;
  top: 0;
  z-index: 99; */
}

.logo-link:link,
.logo-link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3rem;
  color: #555;
}

.main-nav-list {
  list-style: none;
  display: flex;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 2.4rem;
  text-decoration: none;
  color: #333;
}

/* -------------------------- */
/* HERO */
/* -------------------------- */

.section-hero {
  /* background-color: #dff1f7; */
  padding: 6.4rem 0 0;
}

.hero {
  max-width: 170rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 4.8rem;
  line-height: 1.2;

  justify-items: center;
  align-items: center;
}

.hero-name {
  font-size: 9.8rem;
  font-weight: 700;
}

.hero-text {
  font-size: 3rem;
  color: #666;
}

.hero-img {
  width: 100%;
}

.hero-role {
  font-size: 3.6rem;
  margin-top: 3.6rem;
}

.hero-btn {
  margin-top: 3.6rem;
}

.contact-me {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  border-style: none;
  margin-right: 1.6rem;
}

.contact-me:hover {
  cursor: pointer;
}

.learn-more--hero {
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
}

.logos {
  margin-top: 3.6rem;
  display: flex;
  gap: 1.6rem;
}

.sm-link:link,
.sm-link:visited {
  display: inline-block;
  color: #555;
  font-size: 3rem;
}

/* -------------------------- */
/* EDUCATION */
/* -------------------------- */
/* .section-background .container {
  display: flex;
  gap: 4.8rem;
} */

.subheader {
  display: block;
  text-transform: uppercase;
  font-size: 3.6rem;
  font-weight: 600;
  color: #777;
}

.education-card {
  margin-top: 1.6rem;
  margin-bottom: 9.8rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.05);
  gap: 3.2rem;
  border-radius: 9px;

  /* grid-template-columns: 5fr 2fr; */
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.education-card-header {
  margin-top: 1.6rem;
}

.education-card-list {
  margin-left: 1.2rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.education-card-list-item {
  font-size: 2.4rem;
  line-height: 1.2;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.card-textbox {
  padding-right: 4.8rem;
}

.card-title {
  font-weight: 600;
  font-size: 3.6rem;
  margin-bottom: 1.6rem;
}

.card-imgbox {
  justify-self: center;
  align-self: center;
}

.logo-umd {
  width: 150%;
}

/* ******************* */
/* EXPERIENCE / CAROUSEL */
/* ******************* */

.carousel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
}

.container-carousel {
  position: relative;
}

.carousel-exp {
  padding: 3.6rem 2.4rem;

  max-width: 130rem;
  display: flex;
  gap: 3.2rem;
  position: relative;
}

.cover--left,
.cover--right {
  width: 100%;
  height: 85%;
  margin-top: 3.6rem;
  z-index: 1;
}

.cover--left {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 1)
  );
}

.cover--right {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 1)
  );
}

.exp-item {
  width: 37rem;
  max-height: 40rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  padding: 1.2rem;

  flex-shrink: 0;
  display: grid;
  grid-template-rows: 2fr 3fr;
  overflow: hidden;
}

.exp-item:hover {
  cursor: pointer;
}

.exp-content {
  padding: 2.4rem 2.4rem 4.8rem;
}

.exp-title {
  display: block;
  font-size: 2.4rem;
  margin-bottom: 2rem;
}

.exp-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.exp-list li {
  font-size: 2rem;
}

.exp-img {
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.exp-img img {
  height: 100%;
}

.exp-img-amazon {
  padding: 4.2rem 0;
}

/* ****************** */
/* EXPERIENCE BOX */
/* ****************** */
.content-box {
  /* transform: translateY(-25rem); */
  margin: 0 auto;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.08);
  /* box-shadow: none; */

  max-height: 40rem;

  max-width: 120rem;
  visibility: visible;
  /* z-index: -99; */
}

.exp-box {
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 3rem;
  align-items: center;

  padding: 1.6rem 3.2rem;

  /* To match card 1 */
  /* transform: translateX(-2%); */

  transition: all 0.4s;
}

.exp-title--box {
  display: block;
  font-size: 2.4rem;
}

.exp-time {
  display: block;
  font-size: 1.6rem;
  margin-top: 0.8rem;
}

.exp-textbox {
  padding: 1.6rem;
}

.exp-content-text {
  margin-top: 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.exp-content-text li {
  font-size: 1.8rem;
}

.exp-card-imgbox {
  padding: 1.2rem;
}

.exp-card-imgbox > img {
  width: 100%;
}

.exp-card-imgbox > .exp-img-rec {
  padding: 1.2rem;
}

/* ****************** */
/* PROJECTS */
/* ****************** */
.container--proj {
  gap: 3.2rem;
}

.proj-card {
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.08);
  padding: 2.4rem 1.6rem 4.8rem;
  position: relative;
  border-radius: 9px;

  display: grid;
  grid-template-rows: 5fr 8fr;
}

.proj-heading {
  font-weight: 500;
  font-size: 3rem;
}

.proj-feat {
  list-style: none;
  display: flex;
  gap: 0.8rem;
  margin-top: 1.2rem;
}

.proj-feat li {
  font-size: 1.6rem;
  font-weight: 500;
  padding: 0.6rem 1.6rem;
  border-radius: 999px;
  /* background-color: orange; */
}

.proj-text {
  margin: 0.4rem 0 2.4rem 0.8rem;
  line-height: 1.5;
  font-size: 1.6rem;
}

.proj-desc {
  margin: 2.4rem 0 3.2rem 0.8rem;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.proj-desc li {
  font-size: 1.6rem;
}

.learn-more--proj {
  font-size: 1.6rem;
  padding: 1.2rem 2.4rem;

  position: absolute;
  bottom: 1.6rem;
  left: 2.4rem;
}

/* *************************** */
/* CONTACT ME BOX */
/* *************************** */
.contact-box {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  backdrop-filter: blur(5px);
  z-index: 999;
}

form[name="contact-form"] {
  display: block;
  height: 600px;
  width: 1000px;

  background-color: #fff;
}

/* *************************** */
/* LANGUAGE/FRAMEWORK COLORS */
/* *************************** */
.lang--c {
  background-color: #ffc078;
}

.lang--python {
  background-color: greenyellow;
}

.lang--ocaml {
  background-color: #63e6be;
}

.lang--html {
  background-color: #e5dbff;
}

.lang--css {
  background-color: #99e9f2;
}

.lang--js {
  background-color: #fff0f6;
}

.fw--np {
  background-color: #ffc9c9;
}

.fw--opencv {
  background-color: #fff3bf;
}

/* *************************** */
/* GENERAL REUSABLE COMPONENTS */
/* *************************** */
.learn-more:link,
.learn-more:visited {
  display: inline-block;

  text-decoration: none;

  border-radius: 9px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;
  color: #555;
  background-color: #dff1f7;
}

.learn-more:hover,
.learn-more:active {
  background-color: #ceeaf3;
}

.container {
  max-width: 140rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
  opacity: 0%;
  max-height: 0;
}

.hideup {
  display: none;
  transform: translateY(-150%);
}

.grid {
  display: grid;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.margin-top-title {
  margin-top: 2.4rem !important;
}

section {
  margin-bottom: 6.4rem;
}

/* CAROUSEL BUTTONS */
.btn {
  background-color: #fff;
  border: none;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.btn--left {
  left: 0;
  top: 50%;

  transform: translate(-50%, -50%);
}

.btn--right {
  right: 0;
  top: 50%;

  transform: translate(50%, -50%);
}

.btn-icon {
  height: 24px;
  width: 24px;
}
